.gradientFill {
  text-align: center;

  background: linear-gradient(to top, #FFF 20%, #3498db 40%, #3498db 60%, #FFF 80%);
  background-size: 400% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1.4s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% bottom;
  }
}

.uploadIcon {
  margin-right: 5px;
}
