{
  "presets": [
    ["react-app", {
      "flow": true,
      "typescript": false
    }]
  ],
  "plugins": [],
  "env": {
    "production": {
      "presets": ["react-app"],
      "plugins": ["babel-plugin-dev-expression"]
    },
    "development": {
      "plugins": [
        "babel-plugin-dev-expression"
      ]
    }
  }
}
