.statsContainer {
  margin-left: 15px;
  margin-right: 15px;
}

.torrentName {
  line-height: 39px!important;
}

.uploadSpeedContainer {
  bottom: 5px;
  font-size: 18px;
  position: absolute;
  right: 15px;
}

.uploadSpeedContainer div, .uploadSpeedContainer i {
  display: inline-block;
}

.deleteButtonWrapper {
  position: absolute;
  right: 0;
  top: 0;
}
.deleteButton {
  padding: 0px 5px 0px 0px!important;
  height: 35px!important;
  width: 35px!important;
}
