.container {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

.inputsContainer {
  margin-top: 15px;
}

.inputDescription {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.54);
}

.buttonStyle {
  margin-top: 15px;
}

.unsavedConfigWrapper {
  margin-top: 3px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
